@import "./base.scss";
@import 'node_modules/modern-normalize/modern-normalize.css';

$br: 10px;

.body {
  margin: 1rem;
}

a.button,
.button {
  color: white;
  background-color: rgba(229,76,59,.8);
  border-radius: $br;
  margin: 1.5rem 0;
  padding: 0.5rem;
  text-decoration: none;
  
  &:hover {
    background-color: rgba(229,76,59, 1);
  }
}

.jummbo {
  font-size: 2em;
}

.right {
  float:right;
  margin-right: 1rem;
}

.tomster {
  background: url(../assets/images/teaching-tomster.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15vw;
  height: 15vh;
  margin: 0 1rem;
}

.menu {
  display: flex;
  align-items: baseline;

  margin-left: -0.3rem;
  padding: 0 0.3rem;
  background-color: rgba(229,76,59,.8);
  border-radius: $br;
  
  a{
    text-decoration: none;
    color: rgba(255,255,255,.9);
  }
  
  a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .menu-item {
    margin-right: 0.5rem;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  span {
    display: block;
    font-style: italic;
    margin-bottom: .5rem;
  }

  input {
    width: 33vw;
    font-size: 1.2rem;
  }
}

.rentals {
  margin: 1rem 0;

  li {
    margin-bottom: .2rem;
    padding: .1rem .4rem;
    list-style-type: none;
    background-color: rgb(242, 236, 236);
    border-radius: $br;
  }
}

.rental {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;

   > * {
    margin-right: 0.5rem;
  }
  
  button.image {
    cursor: zoom-in;
    border: none;
    border-radius: $br;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
    &.large {
      flex-grow: 5;
      cursor: zoom-out;
    }
  
    img {
      border-radius: $br $br 0 0;
      width: 20vw;
      height: auto;
    }
    
    &.large img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  
    small {
      display: block;
    }
  }

  .details {
    flex-grow: 2;
    display: grid;
    gap: .1rem;
    grid-template-columns: 1fr 1fr;
    grid-template: 
      "a a" 
      ". ." 
      ". ."; 

    .detail-title {
      grid-area: a;
    }

    .detail {
      span {
        font-weight: lighter;
      }
    }
  }

  .map img {
    border-radius: $br;
  }
}

