@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */
html {
  font-size: 24px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
  margin: 0.5rem auto;
  max-width: 60rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
}

.smallcaps { 
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
}
