<nav class="menu">
  <LinkTo @route="index" class="menu-index menu-item">
    <h1>Super Rentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about menu-item">About</LinkTo>
    <LinkTo @route="contact" class="menu-contact menu-item">Contact</LinkTo>
  </div>
</nav>
