<div class="jumbo">
  <h2>About this project</h2>
  <p>This is a super delightful website about my first experiences with ember.js</p>
  <LinkTo @route="contact" class="button">Get in contact</LinkTo>
</div>
